/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.sidebar {
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


.sidebar-sticky {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.buttom {
    width: 150px;
    border-width: 2px;
    border-radius: 100px;
    align-self: center;
    margin-bottom: 50px;
}

.main {
    height: 100vh;
}