<nav class="flex mx-auto h-24 text-white " style="background-color: #532882;">
    <div>
        <h1 class="titulo">Lugo</h1>
    </div>
    
    <div class="flex m-1">
        <select name="users" id="user-select" style="color: black;" [(ngModel)]="selectedUser">
            <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
        </select>
        <div class="pedidos">
            <a>
                <h1>Ver Ordenes</h1>
            </a>
        
        </div>
    </div>

    
</nav>