<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
        <button class="buttom" type="buttom">Redactar</button>
        <ul class="nav flex-column">
            <ol class="nav-item">
                Recibidos
            </ol>
            <ol class="nav-item">
                Enviados
            </ol>
            <ol class="nav-item">
                Destacados
            </ol>
            <ol class="nav-item">
                Spam
            </ol>
            <ol class="nav-item">
        
            </ol>
        </ul>
    </div>
</nav>
